.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.fade-in-up.animate {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
}
.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease;
}
.animate.fade-in-left,
.animate.fade-in-right {
  opacity: 1;
  transform: translateX(0);
}
.gla_animated_flower {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}
/* viền bọc ngoài lịch  */
.invitation-frame {
  border: 2px solid #eec1d9;
  border-radius: 15px;
  padding: 20px 10px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  background: white;
  overflow: hidden;
}

.invitation-frame::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 15px;
  background: linear-gradient(120deg, #ffc0cb, #fddde6, #ffc0cb);
  z-index: 0;
  animation: glowMove 5s linear infinite;
  background-size: 200% 200%;
  opacity: 0.4;
}

.invitation-frame > * {
  position: relative;
  z-index: 1;
}

@keyframes glowMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* viền bản đồ */
#map-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(236, 193, 217, 0.5);
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  max-width: 700px;
  border: 3px solid #eec1d9;
}

/* Hoa văn */
.map-flower {
  position: absolute;
  width: 80px;
  height: 80px;
  background: url("https://cdn-icons-png.flaticon.com/512/2203/2203170.png")
    no-repeat center;
  background-size: contain;
  z-index: 5;
}

/* Hoa trên góc trái */
.map-flower.top-left {
  top: -20px;
  left: -20px;
}

/* Hoa dưới góc phải */
.map-flower.bottom-right {
  bottom: -20px;
  right: -20px;
  transform: rotate(15deg);
}

.alt-font {
  font-family: "Dancing Script", cursive;
  font-weight: 700 !important; /* 700 là in đậm */
  font-size: 2em; /* (Tùy chỉnh, bạn muốn to hơn nhỏ hơn thì đổi) */
  color: #ed1c24; /* Màu đỏ nổi bật */
}

.fade-in-text {
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 0.5s; /* Delay 0.5s sau khi thiệp xuất hiện */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
